<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Dezzi's Diner - Base{% endblock %}</title>
    </head>
    <body>
        <main>
            <a
                href="https://github.com/brucestull/dezzi-diner"
                target="_blank"
                >
                Dezzi's Diner Git Repository
            </a><br>
            <a
                href="/"
                >
                Home
            </a><br>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>